body {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: #f8faff;
}

input{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  padding: 0.7em 0.7em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 0.7em 0.7em;
  margin-top: 10px;
  margin-bottom: 10px;
}


.form {
    margin-top: 2em;
}

